[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ninja = "==0.18.0"
django-ninja-extra = "==0.15.2"
environs = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-json-logging = "*"

[dev-packages]

[requires]
python_version = "3.10"
